@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

html, body, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
}

/*----------------------
  Main Content Container
----------------------*/
.container {
  margin: 0;
  padding: 0;
}
/*-----------------------------
  End of Main Content Container
-----------------------------*/



/*---------------
  Heading Section
---------------*/

.profile-picture {
  height: 20em;
  width: 20em;
}

.heading {
  display: flex;
  background-color: #333;
  padding: 1em;
  /*box-shadow: 0 .3em .3em -0.3em #FF9D00;*/
}
.heading-text {
  padding: 2em;
  color: #F9F9F9;
}
.heading-text>h2, .heading-text>h3 {
  font-weight: 300;
}
.heading-text>h2 {
  font-size: 2.5em;
}
.heading-text>h3{
  font-size: 1.3em;
}

.heading-text>h3>span>a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.1em solid #FF9D00;
}
/*----------------------
  End of Heading Section
----------------------*/


/*----------------------
  Navigation Bar Section
----------------------*/
.navbar-section {
  background-color: #FF9D00;
  text-align: center;
}
.navbar-section ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 1em;
  cursor: pointer;
}
.navbar-section ul li:hover {
  background-color: #333;
}
.navbar-section a {
  text-decoration: none;
  color: #333;
}
.navbar-section ul li:hover a {
  color: #FF9D00;
}

/*-----------------------------
  End of Navigation Bar Section
-----------------------------*/