body {
  margin-top: 1em;
}

.heading-text h2,
h3 {
  font-weight: lighter;
  color: #f2f2f2;
}

.heading-text h3 {
  font-size: 2em;
  letter-spacing: 0.1em;
}

.heading-text a {
  color: orange;
  font-weight: bold;
}

.heading-container {
  background-color: #444;
  padding: 1em;
}

.heading-container img {
  width: 70%;
}

.navbar-light {
  z-index: -1;
  background-color: #444;
}

.card-text h3 {
  color: #333;
  font-weight: bold;
}

#navbarText a {
  color: #f2f2f2;
  font-size: 2em;
  margin-right: 0.5em;
}